:root {
  --primary-color: #3e7c17;
  --secondary-color: #f0bb62;
  --tertiary-color: #f4eea9;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 100px auto;
  background: var(--secondary-color);
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
}

h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  text-align: center;
}
footer {
  text-align: center;
  opacity: 0.7;
  padding: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: var(--tertiary-color);
}

.cooperation {
  background: var(--tertiary-color);
  padding: 6px;
  margin: 20px auto;
}

.inquiry {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  opacity: 1;
}
.withU {
  opacity: 0.7;
}

.bg-dark {
  background-color: var(--primary-color);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.contact-link:hover {
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.primary-link:hover {
  color: white;
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.footer-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.profile {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 600px;
  border-radius: 6px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 24px;
    text-align: center;
  }
  h3 {
    font-size: 12px;
  }
  p {
    text-align: center;
  }
  .project {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
